$focus-color: #FFBF47;

// Default :focus styles
input,
textarea,
select,
button,
a {
  &:focus {
    outline: 3px solid $focus-color;
  }
}

// Focus states when using a mouse
[data-whatinput="mouse"],
[data-whatinput="touch"],
[data-whatinput="pointer"] {
  input,
  textarea,
  select,
  button,
  a {
    &:focus {
      outline: none;
    }
  }
}

// Give links a yellow when tabbed to
[data-whatinput="keyboard"] {
  a:focus {
    color: #000;
    background-color: $focus-color;
    transition: none;
  }
  input,
  textarea,
  select,
  button,
  a {
    &:focus {
      border-color: transparent;
      border-radius: 0;
    }
  }
}
