// ===================================================
// Extend Helpers

%clearfix {
  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

%overlaygrad {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 25%,rgba(0,0,0,0.8) 80%);
}

.vishid {
  border: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &.-focusable {
    &:focus {
      clip: auto;
      width: auto;
      height: auto;
      position: static;
    }
  }
}

// Truncate text
.ellipsis {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Colour helpers
@include colours;
