@font-face {
  font-family: "Mouse Deco";
  src: url('fonts/mouse-deco.eot'); /* IE9 Compatibility Modes */
  src: url('fonts/mouse-deco.eot?') format('eot'),  /* IE6-IE8 */
  url('fonts/mouse-deco.woff') format('woff'), /* Modern Browsers */
  url('fonts/mouse-deco.ttf')  format('truetype'), /* Safari, Android, iOS */
}