// Buttons
$btn-square-size: 2.5rem;
$btn-tiny-font-size: size( antman );
$btn-icon-font-size: size( superman );
$btn-small-font-size: size( spiderman );
$btn-large-font-size: size( batman );
$btn-giant-font-size: size( superman );

// ("-classname", background-color, border, color)
$buttons: (
  ("default", $white, $alto, $storm-dust),
  ("primary", $brand, $brand, $white)
);

// Use the map in _vars.scss for colours
@include buttons;

// Buttons need to have 1rem (16px) font size to prevent zooming
// on mobile Safari inputs
.btn {
  @include height(1rem, 38px); // 38px as we have a 1px border on all sizes
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  border-width: 1px;
  border-style: solid;
  border-radius: $radius;
  padding-left: $baseline/2;
  padding-right: $baseline/2;
  text-decoration: none;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: $shadow;
  position: relative;
  text-align: center;

  &:active {
    box-shadow: $shadow-inset;
  }
}

p > .btn {
  margin-left: $baseline/2;

  // Coorect alignment issue caused inline-block
  margin-top: -1px;
  top: -1px;
}

// Modifiers
.btn.-block {
  display: block;
  width: 100%;
}

.btn.-block + .btn.-block {
  margin-top: $baseline/2;
}

.btn.-square {
  width: $btn-square-size;
  height: $btn-square-size;
  display: block;
}

.btn.-tiny {
  @include height($btn-tiny-font-size, 22px); // 24px with border
}

.btn.-small {
  @include height($btn-small-font-size, 30px); // 32px with border
}

.btn.-large {
  @include height($btn-large-font-size, 46px); // 48px with border
  padding-left: $baseline;
  padding-right: $baseline;
}

.btn.-giant {
  @include height($btn-giant-font-size, 54px); // 56px with border
  padding-left: $baseline*1.5;
  padding-right: $baseline*1.5;
}

.btn.-cta {
  @include upto( eminem ) {
    display: block;
    width: 100%;
  }
}

.btn.-icon {
  @include height($btn-icon-font-size, 40px, true);
}

.btn.-ondark {
  background-clip: padding-box;
  border-color: rgba(0,0,0,0.15);
}
