// Generate show / hide classes based on the $bp map
@mixin responsive-helpers() {

  // Iterate of the breakpoint map
  @each $name, $width in $bp {

    // Set the max-width 1px less to avoid collisions
    $maxwidth: rem( $width - 1px );
    $minwidth: rem( $width );

    // Generate the media query
    @media (min-width: $minwidth) {

      // Use the name of the breakpoints
      .is-hidden-at-#{$name} {
        display: none !important;
      }

      .is-visible-at-#{$name} {
        display: inline-block !important;
      }

    }

    // Generate the media query
    @media (max-width: $maxwidth) {

      // Use the name of the breakpoints
      .is-hidden-upto-#{$name} {
        display: none !important;
      }
      .is-visible-upto-#{$name} {
        display: inline-block !important;
      }
    }

  }
}

// A simple wrapper for min width media queries
@mixin at( $desired ) {

  // Convert to ems for relative breakpoints
  $minwidth: rem( map-get($bp, $desired) );

  // Allow content to be embedded within the mixin
  @media (min-width: $minwidth ) {
    @content;
  }
}

// A simple wrapper for max width media queries
@mixin upto( $desired ) {

  // Only specify min-widths in the map
  // Here we subtract 1px to avoid collisions
  $maxwidth: rem( map-get($bp, $desired) - 1px );

  // Allow content to be embedded within the mixin
  @media (max-width: $maxwidth) {
    @content;
  }
}
