%header
  .container
    .row
      .col-md-4.col-md-push-4

        = image_tag current_page.data.avatar, class: "img-responsive"

    .row
      .col-sm-12

        - if current_page.data.title || current_page.data.spotlight
          .intro-text
            - if current_page.data.title 
              %span.name= current_page.data.title
              %hr.star-light/
            - if current_page.data.spotlight
              %span.skills Spotlight: 
              = link_to current_page.data.spotlight, "http://spotlight.com/#{current_page.data.spotlight}", target: "_blank", class: "skills"