// Grid columns to generate
// $map, key (only used for name)
$dre: $bp, dre;
$kanye: $bp, kanye;

// Ensure colunms are 100% width by default
.grid > [class*="grid-span-"] {
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  > {

    // Call the grid mixin
    @include generate-grid-spans( false, 4 );

    @include at( dre ) {
      @include generate-grid-spans( $dre, 12 );
    }

    @include at( kanye ) {
      @include generate-grid-spans( $kanye, 12 );
    }
  }
}

.grid.-gutter {
  @include at( dre ) {
    margin: - gutter(12);
    // margin-right: - gutter(12);

    > [class*="grid-span-"] {
      padding-left: gutter(12);
      padding-right: gutter(12);
      margin-bottom: gutter(12);
      margin-top: gutter(12);
    }

    + .grid.-gutter {
      margin-top: gutter(12); // Account for collapsing margins
    }
  }
}