$panel-bg: $white;
$panel-hover-bg: darken($white, $darken);
$panel-border: rgba(0,0,0,0.15);
$panel-highlighted-bg: $gallery;

.panel {
  @extend %clearfix;
  display: block;
  background-color: $panel-bg;
  border: 1px solid $panel-border;
  margin-top: -1px;

  @include at( dre ) {
    border-radius: $radius;
    box-shadow: $shadow;
  }
}

.panel-body > .panel {
  border-radius: $radius;
  box-shadow: $shadow;
  margin-bottom: $baseline/2;

  &:last-child {
    margin-bottom: 0;
  }
}

.panel.-edge-to-edge {
  @include upto( dre ) {
    border-radius: 0;
    border-width: 0 0 1px 0;
    margin-top: 0;
  }
}

.panel-body.-edge-to-edge {
  @include upto( dre ) {
    padding: 0;
  }
}

.panel.-promo {
  overflow: hidden;
}

// Interactive panels
.panel.is-interactive,
.panel-body.is-interactive {
  cursor: pointer;
  text-decoration: none;
  color: inherit; // Useful for removing link colour
  overflow: hidden;

  @include hover(true) {
    background-color: darken($panel-bg, $darken);

    &:first-child {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }

    &:last-child {
      border-bottom-left-radius: $radius;
      border-bottom-right-radius: $radius;
    }
  }

  &:focus {
    position: relative;
    z-index: 2;
  }

  &:active {
    box-shadow: $shadow-inset;
  }
}

.panel-header,
.panel-body,
.panel-footer {
  @extend %clearfix;
  padding: $baseline/2;

  &.-highlighted {
    background-color: $panel-highlighted-bg;
  }

  &.-spacious {
    @include at(dre) {
      padding: 2rem;
    }
  }
}

.panel-footer {
  border-top: 1px solid;
  border-color: inherit;
  background-color: lighten($curious-blue, 44%);
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
