-# ---
-# title: Lizzie Goodridge
-# ---


.l-inner
  .t-center
    .copy
      %h1.title Lizzie Goodridge

      = image_tag 'lizzie-goodridge-performer-headshot.jpg'

      %h4 Spotlight PIN: 4775-7861-7001
      %p
        Website for performer
        = link_to "http://www.spotlight.com/4775-7861-7001" do
          %b Lizzie Goodridge

