-# ---
-# title: Lizzie Goodridge
-# ---


.l-constrained
  .l-inner
    .t-center

      .copy
        = image_tag 'lizzie-goodridge-performer-headshot.jpg'
      %h1.title Lizzie Goodridge

      .copy
        %p Lizzie is a performer currently working in industry. She trained for three years at Mandy Ellen Performing Arts under the direction of Mandy Ellen.

        %h4
          Spotlight PIN
          = link_to '4775-7861-7001', 'http://www.spotlight.com/4775-7861-7001'


      %iframe{ width: 420, height: 315, src: "https://www.youtube.com/embed/TLrhS8CXUPM", frameborder: 0, allowfullscreen: true }

      %iframe{ width: 420, height: 315, src: "https://www.youtube.com/embed/pZNNmydzfZ4", frameborder: 0, allowfullscreen: true }